
:root {
  color-scheme: light dark;
  --primary: #646cff;
  --primary-hover: #5364cd;
  --secondary: #e0e0e0;
  --text-primary: #212121;
  --text-secondary: #616161;
  --shadow-color: oklch(0 0 0 / 0.25);
  --border-radius: 0.5rem;
  
  /* Dark Theme Variables */
  --dark-background: #121212;
  --dark-text-primary: #e0e0e0;
  --dark-text-secondary: #bdbdbd;
  
  /* Light Theme Variables */
  --light-background: #fafafa;
  --light-text-primary: #212121;
  --light-text-secondary: #616161;
  
  /* Default to Light Theme */
  background-color: var(--light-background);
  color: var(--light-text-primary);
  
  /* Dark Theme Styles */
  @media (prefers-color-scheme: dark) {
    background-color: var(--dark-background);
    color: var(--dark-text-primary);
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
  position: relative;
  z-index: 1;
}

/* Pattern background styles */
.pattern-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.pattern-background {
  width: 100%;
  height: 100%;
  background: lightblue;
  position: absolute;
  overflow: hidden;
}

.pattern-background::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, #3498db 10%, transparent 20%),
    radial-gradient(circle, transparent 10%, #3498db 20%);
  background-size: 30px 30px; /* Adjust the size of the pattern */
  animation: moveBackground 8s linear infinite; /* Adjust the animation duration and timing function */
}

@keyframes moveBackground {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20%, 20%);
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms ease;
  
  &:hover {
    filter: drop-shadow(0 0 1em var(--shadow-color));
    
    &.react {
      filter: drop-shadow(0 0 1em oklch(0.7 0.2 200 / 0.67));
    }
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.container {
  padding: 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px var(--shadow-color);
  background-color: var(--secondary);
  margin-bottom: 1rem;
  
  @media (prefers-color-scheme: dark) {
    background-color: #212121;
  }
}

.card {
  padding: 1.5rem;
  background-color: transparent;
}

.read-the-docs {
  color: var(--text-secondary);
  @media (min-width: 60em) {
    font-size: 1.1rem;
  }
}
